@charset "UTF-8";

@import url(./style.css);
@import url(./style/header.css);
@import url(style/apresentacao.css);
@import url(./style/habilidades.css);
@import url(./style/servicos.css);
@import url(./style/rodape.css);


body{
    background-color: rgb(34, 31, 31);
    color: white;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#botao-projetos{
    display: flex;
    width: 330px;
    height: 50px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;   
    color: black; 
    padding: 5px;
}

#botao-projetos:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    text-decoration: none;
}


@media screen and (min-width: 1024px){

#botao-projetos{

    display: flex;
    width: 900px;
    height: 50px;
    margin: 40px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 15px;
    font-size: 30px;   
    color: black;
    padding: 40px;
    gap: 20px;
    
}
    
#botao-projetos a:hover{
    cursor: pointer;
    background-color: black;
    color: white;        
}

a {
    text-decoration: none;
    color: black;
}

}
